* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Slab", serif;
  color: #fffffa;
  transition: 800ms cubic-bezier(0.33, 1, 0.68, 1) 0s;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #02377b;
}

h1,
h2 {
  font-family: "Bebas Neue", sans-serif;
  text-align: center;
  width: 100%;
}

h2 {
  text-align: left;
}

h1 {
  font-size: 3em;
  margin-bottom: 1.5vh;
}

p {
  font-size: 1em;
  line-height: 120%;
}

section,
footer,
.conector {
  padding: 5vh 2vh;
  z-index: 5;
  position: relative;
  background-color: #02377b;
  scroll-snap-align: start;
}

footer {
  padding: 5vh 2vh;
  text-align: center;
  background-color: #fffffa;
}
footer p {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  font-family: "Bebas Neue", sans-serif;
  font-style: italic;
  font-size: 2em;
  padding: 0.5vw 3vw 0 2vw;
}
footer p a {
  font-family: inherit;
  color: #02377b;
  text-decoration: none;
}
footer p:hover a {
  color: #ffac5f;
}

.conector {
  padding: 5vh 2vh;
}
.conector p {
  margin-bottom: 0;
  font-weight: 400;
  max-width: 605px;
  margin: 0 auto;
}

.titulo {
  font-size: 6em;
  line-height: 90%;
  margin: 0;
}

.titulo2 {
  font-size: 3.5em;
  line-height: 90%;
  text-align: center;
}

#s_portada {
  padding: 0;
  min-height: 100vh;
}
#s_portada video {
  z-index: 1;
  height: 100vh;
  width: 100vw;
  -o-object-fit: cover;
     object-fit: cover;
  position: fixed;
  top: 0;
}
#s_portada #gradient {
  z-index: 3;
  position: absolute;
  width: 100%;
  height: 100.5vh;
  background: linear-gradient(rgba(0, 0, 0, 0) 50%, rgb(2, 55, 123) 100%);
}
#s_portada div {
  z-index: 3;
  position: absolute;
  padding: 2vh;
  padding-top: 25vh;
  text-shadow: 1px 3px 10px rgba(0, 0, 0, 0.1921568627);
}
#s_portada div p {
  text-shadow: 1px 2px 10px #000000;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .titulo {
    font-size: 7em;
    line-height: 90%;
    margin: 0;
  }
  .titulo2 {
    font-size: 4.5em;
    line-height: 90%;
    text-align: center;
  }
  section {
    padding: 3vh 15vw;
  }
  #s_portada div {
    padding-top: 30vh;
    width: 100%;
  }
  #s_portada div p {
    width: 680px;
    margin: 0 auto;
    font-size: 1.3em;
  }
}
#s_introduccion {
  min-height: 100vh;
  padding-top: 30vh;
}
#s_introduccion p {
  max-width: 605px;
  margin: 0 auto;
}

#s_jugadores {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5vh;
  justify-content: center;
  background: url(media/paperBackground.png) no-repeat;
  background-position: right;
  background-size: cover;
  padding: 5vh 2vh;
}
#s_jugadores a {
  display: block;
  width: calc(50% - 1.5vh);
}
#s_jugadores img {
  width: 100%;
  box-shadow: 0.5px 0.5px 5px rgba(0, 0, 0, 0.4941176471);
}

@media screen and (min-width: 768px) {
  #s_jugadores {
    gap: 1.5vh;
    background-position: center;
    background-size: 100% 100%;
    padding: 10vh 20vw;
  }
  #s_jugadores h1 {
    text-shadow: 1px 3px 10px rgba(0, 0, 0, 0.1921568627);
  }
  #s_jugadores a {
    display: block;
    width: calc(25% - 3vh);
  }
  #s_jugadores img {
    width: 100%;
    box-shadow: 0.5px 0.5px 5px rgba(0, 0, 0, 0.4941176471);
  }
  #s_jugadores img:hover {
    -o-object-fit: contain;
       object-fit: contain;
    transform: scale(0.92);
    /* position: fixed; */
  }
}
#s_podcast h1 {
  margin-bottom: 0;
}
#s_podcast iframe {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4941176471);
}

.timeline_grid-wrap {
  position: relative;
}
.timeline_grid-wrap .timeline_progress {
  width: 4px;
  height: 0%;
  position: absolute;
  left: 10%;
  transform: translateX(-50%);
  background-color: #ffac5f;
  z-index: 5;
}
.timeline_grid-wrap .timeline_progress .timeline_dot {
  width: 18px;
  height: 18px;
  border-radius: 50px;
  border: solid 4px #02377b;
  background-color: #ffac5f;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
  z-index: 5;
}
.timeline_grid-wrap .timeline_progress .timeline_overlay-top {
  width: 10px;
  transform: translate(-2px);
  height: 20px;
  background: linear-gradient(rgb(2, 55, 123) 10%, rgba(0, 0, 0, 0) 100%);
}

.timeline_grid {
  display: grid;
  grid-template-columns: 0.25fr 1fr;
  grid-auto-rows: auto;
}
.timeline_grid .hidden-item {
  display: none;
}
.timeline_grid .item-adjust1 {
  grid-column: 2/3;
  grid-row: 2;
}
.timeline_grid .item-adjust2 {
  grid-column: 2/3;
  grid-row: 4;
}
.timeline_grid .item-adjust3 {
  grid-column: 2/3;
  grid-row: 6;
}
.timeline_grid .item-adjust4 {
  grid-column: 2/3;
  grid-row: 8;
}
.timeline_grid .timeline_track-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.timeline_grid .timeline_track-wrap .timeline_track {
  width: 3px;
  height: 100%;
  background-color: #abd4ed;
}
.timeline_grid .timeline_track-wrap .timeline_overlay-bottom {
  width: 2px;
  height: 20px;
  position: relative;
  bottom: 0;
  background: linear-gradient(#abd4ed 10%, rgb(2, 55, 123) 90%);
  z-index: 4;
}
.timeline_grid .timeline_item-wrap {
  padding: 2vh;
  padding-left: 0;
  opacity: 1;
  transform: translateY(0);
}
.timeline_grid .timeline_item-wrap.hiddenPodcast {
  opacity: 0;
  transform: translateY(30px);
}

@media screen and (min-width: 768px) {
  .timeline_grid-wrap .timeline_progress {
    left: 50%;
  }
  .timeline_grid {
    grid-template-columns: 1fr 0.25fr 1fr;
    grid-auto-rows: auto;
  }
  .timeline_grid .hidden-item {
    display: block;
  }
  .timeline_grid .item-adjust1 {
    grid-column: 1/2;
    grid-row: 2;
  }
  .timeline_grid .item-adjust2 {
    grid-column: 1/2;
    grid-row: 4;
  }
  .timeline_grid .item-adjust3 {
    grid-column: 1/2;
    grid-row: 6;
  }
  .timeline_grid .item-adjust4 {
    grid-column: 1/2;
    grid-row: 8;
  }
  .timeline_grid .timeline_track-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .timeline_grid .timeline_track-wrap .timeline_track {
    width: 2px;
    height: 100%;
    background-color: #abd4ed;
  }
  .timeline_grid .timeline_item-wrap {
    padding: 2vh;
  }
}
#s_video,
#s_documental {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  gap: 1vh;
  align-content: center;
  background: linear-gradient(#02377b 0%, #021026 100%);
}
#s_video h1,
#s_documental h1 {
  margin-bottom: 0;
}
#s_video iframe,
#s_video div,
#s_documental iframe,
#s_documental div {
  width: 100%;
}
#s_video div,
#s_documental div {
  margin-top: 1vh;
}

#s_documental {
  /*  background: linear-gradient(#021526 0%, #02377b 100%); */
}
@media screen and (min-width: 768px) {
  #s_video,
  #s_documental {
    gap: 2vh;
    justify-content: space-between;
  }
  #s_video iframe,
  #s_documental iframe {
    width: calc(60% - 2vh);
  }
  #s_video div,
  #s_documental div {
    width: 40%;
  }
}
#s_galeria {
  min-height: 100vh;
  padding: 0;
  background-color: #abd4ed;
}
#s_galeria div {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#s_galeria a {
  display: block;
  height: 100%;
  text-decoration: none;
  color: #fffffa;
}

#back-btn {
  width: 40px;
  height: 40px;
  background-image: url(media/arrow-left.png);
  background-size: cover;
}
#back-btn a {
  display: block;
  width: 100%;
  height: 100%;
}

#back-btn:hover {
  transform: rotate(45deg);
}

#s_detalle {
  min-height: 100vh;
  background: linear-gradient(#02377b 0%, #021026 100%);
}
#s_detalle img {
  display: block;
  width: 80%;
  margin: 2vh auto;
}
#s_detalle ul {
  list-style-type: none;
  padding: 0;
}

.animarDetalle {
  opacity: 1;
  transform: scale(1);
}

.animarDetalleOculto {
  opacity: 0;
  transform: scale(0.95);
}

@media screen and (min-width: 768px) {
  #s_detalle {
    min-height: 100vh;
  }
  #s_detalle div.contenedor {
    display: flex;
    flex-wrap: wrap;
    gap: 2vh;
    margin: 2vh auto;
    max-width: 870px;
    justify-content: center;
  }
  #s_detalle div.contenedor h1 {
    text-align: left;
  }
  #s_detalle div.contenedor img {
    display: block;
    width: calc(30% - 1vh);
    height: 100%;
    aspect-ratio: inherit;
    margin: 0;
  }
  #s_detalle div.contenedor span {
    width: calc(60% - 1vh);
  }
  #s_detalle .detalleJugadorTexto {
    max-width: 605px;
    width: 60vw;
    margin: 5vh auto;
  }
  #s_detalle .detalleJugadorTexto h2 {
    text-align: center;
  }
  #s_detalle .detalleJugadorFicha p {
    max-width: 500px;
  }
}
#s_infografia {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  gap: 1vh;
  align-content: center;
  /* background-image: url(media/mapaBack3.jpg);
  background-position: center;
  box-shadow: inset 0px 0px 50px #0000007e; */
  background: url(media/paperBackground2.png) no-repeat;
  background-position: right;
  background-size: cover;
  padding: 5vh 2vh;
}
#s_infografia h1 {
  margin-bottom: 0;
  text-shadow: 1px 3px 10px rgba(0, 0, 0, 0.3019607843);
}
#s_infografia iframe {
  width: 100%;
  height: 75vh;
}

@media screen and (min-width: 768px) {
  #s_infografia {
    gap: 1.5vh;
    background-position: center;
    background-size: 100% 100%;
    padding: 10vh 20vw;
  }
}
#elemGaleria article {
  margin: 10vh 0;
}

.piezaAbout h2 {
  margin-top: 1.5vh;
  font-size: 2.5em;
}
.piezaAbout p {
  font-size: 1.2em;
}

.piezaGrid {
  display: grid;
  width: 100%;
  aspect-ratio: 2/1;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 10px;
}
.piezaGrid .piezaGridItem {
  cursor: pointer;
  overflow: hidden;
}
.piezaGrid .piezaGridItem img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.piezaGrid .piezaGridItem img:hover {
  transform: scale(1.1);
}
.piezaGrid .item1 {
  grid-column: 1/2;
  grid-row: 1/3;
}
.piezaGrid .item2 {
  grid-column: 2/3;
  grid-row: 1/2;
}
.piezaGrid .item3 {
  grid-column: 3/4;
  grid-row: 1/2;
}
.piezaGrid .item4 {
  grid-column: 2/4;
  grid-row: 2/3;
}

.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.733);
  animation: opacity 0.5s ease-in-out;
}
.modal img {
  width: 70%;
  -o-object-fit: cover;
     object-fit: cover;
}
.modal .close-btn {
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-image: url(media/x-close.png);
  background-size: cover;
}
.modal .close-btn:hover {
  transform: rotate(90deg);
}
.modal .next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  margin: 20px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-image: url(media/arrow-right.png);
  background-size: cover;
}
.modal .next-btn:hover {
  transform: translate(10px, -50%);
}
.modal .prev-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  margin: 20px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-image: url(media/arrow-left.png);
  background-size: cover;
}
.modal .prev-btn:hover {
  transform: translate(-10px, -50%);
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media screen and (max-width: 768px) {
  .piezaGrid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    aspect-ratio: 1/2;
  }
  .piezaGrid .piezaGridItem img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .piezaGrid .item1 {
    grid-column: 1/3;
    grid-row: 1/3;
  }
  .piezaGrid .item2 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .piezaGrid .item3 {
    grid-column: 2/3;
    grid-row: 3/4;
  }
  .piezaGrid .item4 {
    grid-column: 1/3;
    grid-row: 4/5;
  }
}
#s_about h1 {
  font-size: 2.5em;
  text-align: center;
  line-height: 92%;
  font-weight: 400;
}
#s_about p {
  margin: 2vh 0;
  font-size: 1em;
  font-weight: 300;
}
#s_about div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2vh;
}
#s_about article {
  width: 25%;
}
#s_about article img {
  width: 100%;
}
#s_about article h2,
#s_about article p {
  width: auto;
  text-align: left;
  font-size: 1em;
  font-weight: 300;
  margin: 1.5vh 0;
}
#s_about article p {
  font-style: italic;
}
#s_about article h2 {
  font-size: 1.6em;
}

@media screen and (max-width: 768px) {
  #s_about article {
    width: calc(50% - 2vh);
  }
}/*# sourceMappingURL=style.css.map */